
<br><br><br>

<div class="uiv2-terms-slot"><span class="uiv2-terms-content-2"><span class="uiv2-terms-title">Pricing</span> All the products listed on the Site will be sold at MRP unless otherwise specified. The prices mentioned at the time of ordering will be the prices charged on the date of the delivery. Although prices of most of the products do not fluctuate on a daily basis but some of the commodities and fresh food prices do change on a daily basis. In case the prices are higher or lower on the date of delivery not additional charges will be collected or refunded as the case may be at the time of the delivery of the order. </span></div>

<style type="text/css">
body {
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
    background-position: 50%!important;
}
.uiv2-terms-slot {
    margin: 20px 0 0 0;
    padding: 0 0 20px 0;
    float: left;
    border-bottom: solid 1px #ccc;
}
</style>