<script type="text/javascript" src= "http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css"></script>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>


<h4 class="order_header text-center">Orders History</h4><br>
<table class="table table-hover" id="cartpdf">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Date&Time</th>
      <th>Address</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th>Image</th>
      <th>Order Rating</th>
    </tr>
  </thead>