 <div class="card">
 <h5><%= personal_message.body %></h5></p>

 <h1>
<p>at <%= personal_message.created_at %><br>
  by <%= personal_message.user.name %></p></h1>
</div>
<style type="text/css">
	@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    body{
    	font-family: 'Poppins', sans-serif;
    }  
.card{
	border-radius: 2px;
	background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
	width: 48%;
	left: 30%
}

 h5 {
      
      font-size: 2.1em;
      font-weight: 500;
      color: #fff;
      line-height: 1.7em;
      }

 h1 {
      
      font-size: .9em;
      font-weight: 500;
      color: #fff;
      line-height: 1.7em;
      }

</style>