
<!-- <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script src="http://localhost/assets/js/ZeroClipboard.js"></script> -->



<p id="notice"><%= notice %></p>
<h1 class="text-center">Cart Items</h1>

<div id="cart">
  <%= render "cart" %>
</div>

<!-- <script type="text/javascript">
  $('#cartpdf').DataTable({
    dom: 'Bfrtip',
    pagingType: "bootstrap",
    buttons: [
        'copyHtml5', 'excelHtml5', 'pdfHtml5'
    ]
} );
</script> -->

<script type="text/javascript">
  $(document).ready(function() {
  $('#cartpdf').DataTable({
    dom: 'Bfrtip',
    sPaginationType: "full_numbers",
    bJQueryUI: true,
    buttons: [{
      extend: 'pdf',
      title: 'Customized PDF Title',
      filename: 'customized_pdf_file_name'
    }, {
      extend: 'excel',
      title: 'Customized EXCEL Title',
      filename: 'customized_excel_file_name'
    }, {
      extend: 'csv',
      filename: 'customized_csv_file_name'
    }]
  });
});
</script>
