<br><br><br>
<center>
<h1>New Product</h1>
</center>
<%= render 'form', product: @product %>

<%#= link_to 'Back', products_path,class: "btn btn-success" %>
<a href="/products" class="btn px24 py12 round-full txt-s btn--blue w180 color-white" data-reactid="445">Back</a>
<style type="text/css">
	element.style {
}
.color-white {
    color: #fff!important;
}
.btn--blue {
    background-color: #4264fb;
}
.w180 {
    width: 180px!important;
}
.px24 {
    padding-left: 24px!important;
    padding-right: 24px!important;
}
.py12 {
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}
.round-full {
    border-radius: 9999px!important;
}

.txt-s {
    font-size: 12px;
    line-height: 18px;
}
</style>